.margin {
	width: 1090px;
	margin: 0 auto;
  }
  #top {
	height: 36px;
	background: #333;
	.top-l {
	  float: left;
	  img {
		&.notice {
		  float: left;
		  margin-top: 12px;
		}
	  }
	  ul {
		float: left;
		margin-left: 18px;
		li {
		  a {
			color: #b89c5d;
			font: 12px/3 "";
			text-decoration: underline;
		  }
		}
	  }
	}
	.top-r {
	  float: right;
	  p {
		float: left;
		a {
		  &.login {
			margin-right: 18px;
		  }
		}
	  }
	  a {
		color: #d3cacb;
		font: 12px/3 "";
	  }
	  span {
		color: #777;
		margin: 0 10px;
	  }
	  .purchase {
		float: left;
		position: relative;
		ul {
		  position: absolute;
		  display: none;
		  left: -12px;
		  width: 80px;
		  height: 122px;
		  border: 1px solid #ddd;
		  background: #fff;
		  z-index: 1;
		  li {
			font: 12px/40px "";
			color: #a69999;
			text-align: center;
			width: 56px;
			margin: 0 auto;
			border-bottom: 1px #ddd solid;
		  }
		}
		i {
		  display: inline-block;
		  background: url(../img/icon2.png) no-repeat right;
		  width: 9px;
		  height: 5px;
		  margin-left: 10px;
		}
	  }
	  .service {
		float: left;
		position: relative;
		ul {
		  position: absolute;
		  display: none;
		  left: -12px;
		  width: 80px;
		  height: 163px;
		  border: 1px solid #ddd;
		  background: #fff;
		  z-index: 1;
		  li {
			font: 12px/40px "";
			color: #a69999;
			text-align: center;
			width: 56px;
			margin: 0 auto;
			border-bottom: 1px #ddd solid;
		  }
		}
		i {
		  display: inline-block;
		  background: url(../img/icon2.png) no-repeat right;
		  width: 9px;
		  height: 5px;
		  margin-left: 10px;
		}
	  }
	  .app {
		float: left;
		i {
		  display: inline-block;
		  background: url(../img/icon3.png) no-repeat;
		  width: 7px;
		  height: 11px;
		  margin: 6px 6px 0 0;
		}
	  }
	}
  }
  } {
	#top {
	  .top-l {
		ul {
		  li {
			&:last-child {
			  display: none;
			}
		  }
		}
	  }
	}
	header {
	  .head {
		.search {
		  .search-t {
			.sear-txt {
			  width: 440px;
			  height: 36px;
			  border: 1px solid #b3a078;
			  border-radius: 20px 0 0 20px;
			  float: left;
			}
		  }
		}
	  }
	  nav {
		ul {
		  li {
			float: left;
		  }
		}
	  }
	}
  }
  header {
	height: 140px;
	position: relative;
	.head {
	  height: 92px;
	  img {
		&.logo {
		  margin: 24px 0 9px 0;
		  float: left;
		}
	  }
	  .search {
		float: left;
		margin: 26px 50px 0 240px;
		.search-t {
		  .sear-btn {
			width: 90px;
			height: 38px;
			background: #b3a078;
			border: 0;
			font: 16px/38px "";
			color: #fff;
			text-align: center;
			border-radius: 0 20px 20px 0;
			float: left;
		  }
		}
		.search-b {
		  margin-left: 18px;
		  a {
			font: 12px/38px "";
			color: #999;
			&.active {
			  color: #b3a078;
			}
		  }
		  span {
			color: #999;
			margin: 0 10px;
		  }
		}
	  }
	  .shopcar {
		position: relative;
		float: right;
		width: 132px;
		height: 36px;
		border: 1px solid #b3a078;
		border-radius: 20px;
		color: #b3a078;
		font: 14px/36px "";
		margin-top: 26px;
		i {
		  display: inline-block;
		  width: 15px;
		  height: 17px;
		  background: url(../img/icon-shopcar.png);
		  vertical-align: middle;
		  margin: -2px 6px 0 28px;
		}
		b {
		  &.red {
			position: absolute;
			width: 18px;
			height: 18px;
			background: #d92433;
			border-radius: 50%;
			color: #fff;
			right: 17px;
			top: 8px;
			text-align: center;
			font: 10px/18px "";
		  }
		}
	  }
	}
	nav {
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  ul {
		li {
		  a {
			display: inline-block;
			margin-right: 52px;
			font: 600 12px/26px "";
			color: #000;
			&.active {
			  color: #b3a078;
			  border-bottom: 2px solid #b3a078;
			}
		  }
		}
	  }
	  .menu {
		position: absolute;
		width: 1160px;
		height: 383px;
		border: 1px solid #ddd;
		background: #fff;
		z-index: 1;
		top: 28px;
		left: -56px;
		padding: 20px 20px 0 20px;
		display: none;
		dl {
		  float: left;
		  margin-right: 24px;
		  &:last-child {
			margin-right: 0;
		  }
		  dt {
			width: 124px;
			font: 600 16px/34px "";
			color: #333;
			border-bottom: 1px solid #ddd;
		  }
		  dd {
			height: 34px;
			margin-top: 20px;
			i {
			  display: inline-block;
			  width: 34px;
			  vertical-align: middle;
			  height: 34px;
			  background: url(../img/nav-1.png) no-repeat center;
			  background-size: 50px 50px;
			}
			span {
			  font: 12px/34px "";
			  color: #333;
			  vertical-align: middle;
			  margin-left: 10px;
			}
		  }
		}
		&:nth-child(3) {
		  dl {
			dd {
			  i {
				background: url(../img/nav-2.png) no-repeat center;
				background-size: 50px 70px;
			  }
			}
		  }
		}
		&:nth-child(4) {
		  dl {
			dd {
			  i {
				background: url(../img/nav-3.png) no-repeat center;
				background-size: 50px 50px;
			  }
			}
		  }
		}
		&:nth-child(5) {
		  dl {
			dd {
			  i {
				background: url(../img/nav-4.png) no-repeat center;
				background-size: 50px 50px;
			  }
			}
		  }
		}
	  }
	}
  }
  
